#new_idea {
  background-color: #fffef0;
}

.fa-lightbulb {
  margin-right: 8px;
}

.project_ideas {
  background-color: #fffef0;
  border: 2px dashed #aaa;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  height: 500px;
  padding: 6px 20px;
  margin: 48px 0;

  .project_idea_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: #333;
  }

  h2 {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }
}

/* show */
.project_idea_details {
  background-color: #fffef0;
  border: 2px dashed #aaa;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  height: 400px;
  padding: 6px 20px;
  margin: 48px 0;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  color: #333;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* form */
.form_description textarea {
  height: 100px;
}
