.sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px 0 20px;
}

.section_card {
  background-color: #7c9a4f;
  color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.section_card:hover {
  background-color: rgb(231, 231, 231);
}
