/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Pages */
@import "./pages/section.css";

/* Components */
@import "./components/navbar.css";
@import "./components/section_card.css";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #80808042;
  background-color: #263926;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 0 20px;
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 26px;
}

.default_h1, .default_h2 {
  color: #ccc;
}

h2 {
  font-size: 20px;
}

.section_name {
  text-align: end;
}

.back {
  color: #A7F3D0;
}
