<h1>Ideas I want to explore</h1>

<div class="add_new" id="new_idea">
  <%= link_to raw('<i class="fa-solid fa-lightbulb"></i> New Idea'), new_project_idea_path, class: "btn" %>
</div>

<div class="project_ideas">
  <% @project_ideas.each do |project_idea| %>
    <%= link_to project_idea_path(project_idea) do %>
      <div class="project_idea_card">
        <h2>- <%= project_idea.title %>...</h2>
        <%= link_to raw('<i class="fa-solid fa-trash"></i>'), project_idea_path(project_idea), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn delete_btn" %>
      </div>
    <% end %>
  <% end %>
</div>
