<h1>Ideas I want to explore</h1>

<div class="add_new">
  <%= link_to raw('<i class="fa-solid fa-plus"></i> New Idea'), new_section_path, class: "btn" %>
</div>

<div class="project_ideas">
  <% @project_ideas.each do |project_idea| %>
    <div class="project_idea_card">
      <h2><%= project_idea.title %></h2>
    </div>
  <% end %>
</div>
